body {
    display: flex;
    background-color: yellowgreen;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    height: 50vh;
}

h1 {
    font-size: xxx-large;
    font-weight: bolder;
    background-color: burlywood;
    }